.button1 {
  height: 3em;
  width: 11.5em;
  border: none;
  border-radius: 40px;
  background-color: #fff;
  cursor: pointer;
  
}

.button1 span {
  z-index: 1;
  display: inline-block;
  background-color: #FF007F;
  height: 3em;
  width: 11.5em;
  border-radius: 25px;
  color: #fff;
  line-height: 53px;
  font-size: 18px;
  letter-spacing: 3px;
  transition: all 0.5s;
transform: translateX(-3px);
}

.button1 .container1 {
  z-index: -1;
  width: 0;
  position: relative;
  display: flex;
  justify-content: center;
  transform: translateY(-50px);
  transition: all 0.4s;
}

.button1 .container1 svg {
  padding: 0 10px;
}

.button1:hover span {
  width: 0;
}

.button1:hover .container1 {
  z-index: 2;
  width: 100%;
}
